html, body {
    margin: 0px;
    padding: 0px;
    overflow: visible;
    overflow-x: hidden; 
}

.colored-section {
  background-color: black;
}

.white-section {
  background-color: white;
}

#home {
    overflow-y: hidden;
}

#solution-one {
    position: relative;
    top: -50px;
    height: 650px;
    background-image: url("../public/windmill.jpg");
    filter: saturate(0.6);
}

#solution-two {
    position: relative;
    top: -50px;
    height: 550px;
    background-image: url("../public/flower_field.jpg");
    filter: saturate(0.7);
}

#solution-three {
    position: relative;
    top: -50px;
    height: 600px;
    background-image: url("../public/masks.jpg");
    filter: saturate(0.6);
}

#contribution-section {
    height: 400px;
    position: relative;
    top: -120px;
}

#event-section {
    position: relative;
    top: -170px;

}

.our-team-section {
    height: 1600px;
    position: relative;
    top: -218px;
}

#footer {
    background-color: black;
}

/* NAVBAR SECTION START */

.navbar-logo {
    height: 90px;
    width: 90px;
}

a {
    color: #fff;
    position: relative;;
    text-decoration: none;
}

a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0px;
    bottom: -10px;
    transition: 0.5s;
}
  
a:hover {
    color: white;
}
  
.normal-item {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3rem;
}
  
.normal-item:hover:after {
    width: 100%;
}

/* NAVBAR SECTION END */

/* HOME SECTION START */

.mission-text {
    padding-top: 100px;
    margin-bottom: 150px;
}

.virus-icon {
    position: relative;
    bottom: 250px;
    left: -250px;
    animation: rotation infinite 30s linear;
}

@keyframes rotation{
    from{
      transform:rotate(0deg) scale(0.5);
    }
  
    to{
      transform:rotate(360deg) scale(0.5);
    
    }
}

.third-slide-text {
    position: relative;
    bottom: 475px;
    left: 278px;
}

/* HOME SECTION END */

/* PROBLEM STATEMENT START */

#main-problem {
    height: 320px;
}

#problem-statistics {
    height: 800px;
}

/* PROBLEM STATEMENT END */

/* PROPOSED SOLUTIONS START */

.recycle-image {
    position: relative;
    right: -170px;
    top: 20px;
    border-radius: 50%;
    transform: scale(0.75);
}

.fungi-image {
    position: relative;
    right: -850px;
    top: 50px;
    border-radius: 50%;
}

.person-image {
    position: relative;
    right: -100px;
    top: -10px;
    border-radius: 50%;
    transform: scale(0.8);
}


/* PROPOSED SOLUTIONS END */

/* OUR TEAM START */

.our-team-title {
    font-family: 'Gloria Hallelujah', cursive;
    position: absolute;
    color: white;
    font-size: 4rem;
    padding-top: 50px;
    left: 40%;
}

/* OUR TEAM END */
